body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f58046;
}

nav {
    background-color: #f5de30;
    color: white;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #2faefd;
    color: white;
    padding: 50px;
    text-align: center;
}

section {
    margin: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}
